<header>
  <span class="header">Task manager</span>
</header>

<br />
<br />

<main>
  <section class="task-new">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <app-task-add (newTask)="addNewTask($event)"></app-task-add>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <mat-form-field class="field-search">
          <input matInput
                 [(ngModel)]="searchText"
                 placeholder="Search by name">
        </mat-form-field>
      </div>
    </div>
  </section>

  <article class="task-list">
    <app-task-list *ngIf="tasks && tasks.length"
                   [tasks]="(taskItems$ | async | startFrom: startingItem() | limitTo: itemsPerPage | filter: searchText : tasks)"
                   (delTaskEvent)="delTask($event)"
                   (changeStatusTask)="changeTaskStatus($event)">
    </app-task-list>
  </article>

  <app-pagination *ngIf="tasks && tasks.length"
                  [numbersOfPage]="options"
                  [currentPage]="currentPage"
                  [numberOfPages]="numberOfPages()"
                  [isDisabledBackBtn]="isFirstPage()"
                  [isDisabledNextBtn]="isLastPage()"
                  [itemsPerPage]="itemsPerPage"
                  (onBack)="showPrevPage()"
                  (onNext)="showNextPage()"
                  (changePerPage)="changeItemsPerPage($event)">
  </app-pagination>

</main>

