.header {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.task-new {
  padding-bottom: 15px;
}

::ng-deep .field-search {
  width: 100%;
  color: #ffffff;

  .mat-form-field-label,
  .mat-form-field-label-wrapper,
  .mat-input-element {
    color: #cccccc;
  }

  .mat-input-underline {
    background-color: #ffffff;
  }
}
