.list-group {
  padding: 2px 0;
  position: relative;

  .list-group-item {
    background-color: #434c53;
    color: #ffffff;

    .fa-times:hover {
      cursor: pointer;
    }
  }

  .list-group-item-action:hover {
    background-color: #434c62;
  }

  .fa-times {
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0;
  }

  small {
    padding: 0 0.4em;
  }
}

.list-group:hover {
  .fa-times {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1000;
  }
}

.select-column {
  max-width: 88px;
}
