.input-group {
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #434c62;
  border-color: #434c62;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: #727b84;
  border-color: #6c757d;
}

button[disabled]:hover {
  cursor: no-drop;
}
