::ng-deep .field-create {
  width: 100%;
  color: #ffffff;

  .mat-form-field-label,
  .mat-form-field-label-wrapper,
  .mat-input-element {
    color: #cccccc;
  }

  .mat-input-underline {
    background-color: #ffffff;
  }
}

button[disabled]:hover {
  cursor: no-drop;
}
