<section>
  <div>{{tasks$ | async}}</div>
</section>
<br />
<main>
  <section class="task-new">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-task-add (newTask)="addNewTask($event)"></app-task-add>
      </div>
      <div class="col-md-3"></div>
    </div>
  </section>
  <article class="task-list">
    <app-task-list [tasks]="tasks"
                   (delTaskEvent)="delTask($event)"
                   (changeStatusTask)="changeTaskStatus($event)">
    </app-task-list>
  </article>
</main>

