<div class="list-group"
     *ngFor="let task of tasks">
  <div class="list-group-item list-group-item-action flex-column align-items-start">

    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task?.header}}</h5>
      <small *ngIf="task">
        {{ task?.date | date: 'medium'}} - {{task?.agoDate.value ? (task?.agoDate?.value | number: '1.0-0') : '' }} {{' ' + task?.agoDate?.description }} ago
      </small>
    </div>

    <p class="mb-1">{{task?.description}}</p>

    <app-select [options]="statuses"
                [currentValue]="task?.status"
                (updateStatus)="changeStatus($event, task?._id)">
    </app-select>

    <i class="fa fa-times"
       aria-hidden="true"
       (click)="deleteTask(task?._id)"></i>
  </div>
</div>
