.select {
  &__label {

  }

  &__edit {
    opacity: 0;
  }
}

.select__label:hover .select__edit {
  opacity: 1;
  transition: opacity 0.5s;
}

.select-wrap {
  background: inherit;
  text-transform: capitalize;
}
